/* width */
::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--apppink);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-button:single-button {
    display: block;
    background-color: var(--appimage);
    height: 20px;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-position: center 4px;
    background-size: 8px 8px;
    background-image: url(images/uparrow.png);
    background-repeat: no-repeat;
  }

  ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-position: center 4px;
    background-size: 8px 8px;
    background-image: url(images/downarrow.png);
    background-repeat: no-repeat;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--apppink);
  }

  @font-face {
    font-family: mainfont;
    src: url(../fonts/Product_Sans_Regular.ttf) format("truetype");
  }

  body {
    background-color: #232a36;
    font-family: mainfont;
    overflow-x: hidden;
    height: 100vh;
  }

  .topp {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .topp img {
    width: 150px;
    height: 150px;
  }

  .topp h1 {
    padding: 60px 40px 40px 20px;
    color: #9dbae8 !important;
    font-size: 2rem !important;
    z-index: 99;
    font-weight: 900;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0rem;
  }

  .illustration {
    width: 30%;
    margin-right: 7rem;
  }

  .hero h2 {
    color: #9dbae8 !important;
    z-index: 99;
    font-weight: 500;
    margin-top: 3rem;
  }

  .secondary-text {
    color: #415e8c;
  }

  body img {
    filter: invert(0%);
  }

  #home {
    position: relative;
    display: block;
    z-index: 10;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 0rem 0.625rem 0.125rem 0.625rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 2px solid var(--appblack);
    color: var(--apppink);
    background-color: var(--appblack);
    outline: none;
    transition-duration: 0.6s;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px 0px rgb(5, 5, 5);
  }

  #home1 {
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 2px solid var(--appblack);
    color: var(--apppink);
    background-color: var(--appblack);
    outline: none;
    transition-duration: 0.6s;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px 0px rgb(5, 5, 5);
  }

  #home:hover {
    background-color: #395177;
    font-weight: bolder;
    z-index: 99;
    box-shadow: 2px 2px 30px #1c1b1b;
    transform: scale(1.1);
    transition: all 1s;
  }

  .card {
    align-items: center;
    transition: 0.3s;
    margin: 3px;
    padding: 0px 30px;
    color: #395177;
    font-size: 30px;
    width: 45%;
    background: rgb(25, 30, 36);
    border: 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 0 0 33px -10px rgb(5, 5, 5);
  }


  .card-header {
    margin-top: 25px;
    text-align: center;
    padding: 50px 10px;
  }

  .card-body {
    padding: 30px 20px;
    font-size: 20px;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgb(5, 5, 5);
  }

  @media (max-width: 769px) {
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 80%;
    }

    .illustration {
      width: 80%;
      margin: 2rem 0rem;
    }
  }

  @media (max-width: 500px) {
    .topp img {
      width: 100px;
      height: 100px;
    }

    .topp h1 {
      font-size: 23px !important;
      padding: 40px 40px 40px 20px;
    }

    #home {
      font-size: 1.2rem;
    }
  }