/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}



.autocomplete-items {
  font-family:mathfont;
  position: absolute;
  //border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  //border-radius:50px !important;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 3px solid #ff00a2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius:10px !important;
  border-bottom-right-radius:10px !important;
  //border-radius:10px !important;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  font-size:15px;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}