.bodyof {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    opacity: 0.9;
    position: static;
    display: grid;
    font-family: mathfont;
}

.calculator .soltext {
    grid-column: span 5;
    text-align: right;
    font-size: 1.5625rem;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: blue;
    padding: 1.875rem 0.625rem;
    max-height: 0.3125rem;
    height: auto;
    border: none;
}

.calculator .value {
    grid-column: span 5;
    max-height: 4.375rem;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    position: relative;
    min-height: 3.75rem;
    background: #fff;
    text-align: right;
    border: none;
    border-radius: 1.875rem 1.875rem 0 0;
    outline: none;
    padding: 1.875rem 0.625rem;
    letter-spacing: 0.125rem;
    font-size: 1.25rem;

}

.calculator span {
    font-size: 1.5625rem;
    display: grid;
    width: 5rem;
    height: 5rem;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 0.0625rem solid rgba(0, 0, 0, .1);
}

.calculator span:active {
    color: #ff3077;
}

.calculator span.clear {
    grid-column: span 1;
    width: 5rem;
    background: #ff3077;
}

.calculator span.back {
    grid-column: span 1;
    width: 5rem;
    background: #0c2835;
}

.bk:active {
    filter: invert(50%) !important;
}

.calculator span.plus {
    grid-row: span 1;
    background: #163152;
    height: 5rem;
}

.calculator span.sub {
    grid-row: span 1;
    background: #163152;
    height: 5rem;
}

.calculator span.mul {
    grid-row: span 1;
    background: #163152;
    height: 5rem;
}

.calculator span.divi {
  grid-row: span 1;
  background: #163152;
  height: 5rem;
}

.calculator span.equal {
    background: #03b1ff;
    border-radius: 0 0 2.5rem 0;
}

.calculator span.zero {
    border-radius: 0 0 0 2.5rem;
}

.divi img, .sub img, .mul img, .plus img, #slogo{
    filter:brightness(100%);
    height: 1.2em;
    width:1em;
}

.light-mode .calculator span
{
    background-color: #9fd8df;
    color: black;
}
.light-mode .calculator span.clear
{
    background-color: #ff3077;
    color: black;
}

/* --------------------Responsive calculator-------------------- */
@media (max-width: 450px) {
  .calculator span {
    font-size: 1.1875rem;
    height:auto;
    width: 3.5em;
  }
  .calculator span.clear {
    width: auto;
    height: 3.2em;
  }
  .calculator span.back {
    width: auto;
  }
}
