.bodyof {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    opacity: 0.9;
    position: static;
    display: grid;
    font-family: mathfont;
}

.calculator .soltext {
    grid-column: span 5;
    text-align: right;
    font-size: 25px;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: blue;
    padding: 30px 10px;
    max-height: 5px;
    height: auto;
    border: none;
}

.calculator .value {
    grid-column: span 5;
    max-height: 70px;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    position: relative;
    min-height: 60px;
    background: #fff;
    text-align: right;
    border: none;
    border-radius: 30px 30px 0 0;
    outline: none;
    padding: 30px 10px;
    letter-spacing: 2px;
    font-size: 20px;

}

.calculator span {
    font-size: 25px;
    display: grid;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}

.calculator span:active {
    color: #ff3077;
}

.calculator span.clear {
    grid-column: span 1;
    width: 80px;
    background: #ff3077;
}

.calculator span.back {
    grid-column: span 1;
    width: 80px;
    background: #0c2835;
}

.bk:active {
    filter: invert(50%) !important;
}

.calculator span.plus {
    grid-row: span 1;
    background: #163152;
    height: 80px;
}

.calculator span.sub {
    grid-row: span 1;
    background: #163152;
    height: 80px;
}

.calculator span.mul {
    grid-row: span 1;
    background: #163152;
    height: 80px;
}

.calculator span.divi {
  grid-row: span 1;
  background: #163152;
  height: 80px;
}

.calculator span.equal {
    background: #03b1ff;
    border-radius: 0 0 40px 0;
}

.calculator span.zero {
    border-radius: 0 0 0 40px;
}


.light-mode .calculator span
{
    background-color: #9fd8df;
    color: black;
}
.light-mode .calculator span.clear
{
    background-color: #ff3077;
    color: black;
}

/* --------------------Responsive calculator-------------------- */
@media (max-width: 450px) {
  .calculator span {

    font-size: 15px;
    height:auto;
    width:auto;
  }
  .calculator span.clear {
    width: auto;
  }
  .calculator span.back {
    width: auto;
  }
